<!--
name: Ben Frailey
pawprint: bcfdkp
date: January 30, 2019
-->
<!--

-->

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Contact Me</title>

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
        <link href="{{ url_for('static', filename='jquery-ui-1.12.1.custom/jquery-ui.min.css')}}" rel="stylesheet" type="text/css">
    <script src="{{ url_for('static', filename='jquery-ui-1.12.1.custom/external/jquery/jquery.js')}}"></script>
    <script src="{{ url_for('static', filename='jquery-ui-1.12.1.custom/jquery-ui.min.js')}}"></script>

        <link rel="stylesheet" href="{{ url_for('static', filename='css/header.css') }}">



        <script language="javascript" type="text/javascript"
  src="header.txt"></script>
        <script>

            $(function(){
                $("input[type=submit]").button();
            });


            $(document).ready(function(){
                $("#login").click(function(){
                    $("#popup").css("display", "block");
                    $('body').css("background", "grey");
                    $("#me").css("filter", "brightness(50%)");
                    $("#logo").css("filter", "brightness(50%)");
                });
            });


        </script>

    </head>
    <body>

        <div class="center">
            <div id="loginWidget" class="ui-widget">
                <h1 class="ui-widget-header" id="contactHeader">Contact Me</h1>


            </div>
        </div>
    </body>
</html>
